{% if user.is_authenticated %}
<nav class="container-fluid py-2 navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="../../../static/images/7a252de00b20.png" alt="" height="30">
        </div>
        <div class="col-md-3">
            <form class="navbar-form" role="search" action="{% url 'search' %}">

                <div class="input-group">
                  <input type="text" class="form-control search" placeholder="Search" name="search_username">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </div>
      
              </form>
        </div>
        <div class="col-md-3 text-center">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-between">
                  <li class="nav-item px-2">
                    <a class="nav-link active" aria-current="page" href="{% url 'posts' %}"><i class="fa-solid fa-house fa-icon"></i></a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'create-post' %}"><i class="fa-regular fa-square-plus fa-icon"></i></a>
                  </li>
                  <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.profile.profile_pic.url}}" title="Profile picture" style="border-radius: 50%;" height="25" width="25">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'profile' user.username %}"><i class="fa-solid fa-circle-user pe-2"></i> Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'update' %}"><i class="fa-solid fa-gear pe-2"></i> Settings</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</nav><hr class="m-0">
{% endif %}