{% extends 'insta_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid register-bg">
    <div class="row">
        <!-- posts loop starts -->
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-5 mx-auto mt-5">

            <!-- post -->
            <div class="sign-up border p-3">
                <img src="{{post.user.profile.profile_pic.url}}" title="Profile picture" alt="{{post.user.username}} profile picture" style="border-radius: 50%;" height="30" width="30">
                <span class=" ms-4 h5">{{post.user.username}}</span>
                <div class="image my-4">
                    <img src="{{post.image_path.url}}" class="img-fluid m-0" alt="{{post.image_name}}" style="object-fit: cover; width: 100%;">
                </div>

                <div class="post-content mb-4">
                    <span class="mx-2 pointer"><i class="fa-solid fa-heart fs-4"></i> {{post.likes.count}} </span>
                    <span class="mx-2 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-comment fs-4"></i> {{post.comments.count}}</span>
                </div>
                <!-- date added -->
                <small class="text-muted">{{post.posted_date | timesince}} ago</small>

                <!-- add comment form -->
                <form class="navbar-form mt-4" role="search" action="">

                    <div class="input-group">
                      <input type="text" class="form-control search" placeholder="Add a comment..." name="">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Post</button>
                      </div>
                    </div>
          
                </form>
            </div>

            <!-- modal starts -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <img style="height: 100%; width: auto; object-fit: cover;" src="{{post.image_path.url}}" alt="{{post.image_name}} image" class="img-responsive img-fluid">
                          </div>
    
                          <div class="col-md-6 line">
                            <div class="my-3">
                                <img src="{{post.user.profile.profile_pic.url}}" title="Profile picture" style="border-radius: 50%;" height="30" width="30">
                                <span class=" ms-4 h6">{{post.user.username}}</span>
                                <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div><hr>
                              <!-- captions goes here -->
                            <div>
                                <img src="{{post.user.profile.profile_pic.url}}" title="Profile picture" style="border-radius: 50%;" height="30" width="30">
                                <span class=" ms-4 h6">{{post.user.username}}</span>
                                <span class=" ms-4 h6">{{post.image_caption}}</span>
                            </div>
                            <!-- comments goes here -->
                            <div class="comments my-3" style="min-height: 40vh;">
                                {{post.comments.content}}
                            </div>

                            <div class="post-content mb-4">
                                <span class="mx-2"><i class="fa-solid fa-heart fs-4"></i> {{post.likes.count}} </span>
                                <span class="mx-2"><i class="fa-solid fa-comment fs-4"></i> {{post.comments.count}}</span>
                            </div>
                            <!-- date added -->
                            <small class="text-muted">{{post.posted_date | date:"d-F Y"}}</small>

                            <!-- add comment form -->
                            <form class="navbar-form mt-4" role="search" action="">

                                <div class="input-group">
                                  <input type="text" class="form-control search" placeholder="Add a comment..." name="">
                                  <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Post</button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>

            <!-- modal ends -->
          </div>
        </div>
        {% empty %}
        <h3 class="text-center">No posts yets!</h3>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}