h1{
    color: red;
}

.register-bg, html, body{
    background-color: #fafafa;
}
small#hint_id_password1, small#hint_id_password2, small#hint_id_username{
    display: none;
}

.sign-up{
    background-color: #fff;
}

.sign-up input[type='text'], .sign-up input[type='password'], input.search{
    background-color: #fafafa;
}

.fa-icon{
    font-size: 3vh;
}