@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: red;
}

.register-bg, html, body{
    background-color: #fafafa;
}
small#hint_id_password1, small#hint_id_password2, small#hint_id_username, .comment label{
    display: none;
}

.sign-up{
    background-color: #fff;
}

.sign-up input[type='text'], .sign-up input[type='password'], input.search{
    background-color: #fafafa;
}

.fa-icon{
    font-size: 1.5em;
}

.post-div{
    /* max-width: 30%;  */
    height: 40vh; 
    min-height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{
    display: none;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.overlay:hover{
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    opacity: 1;
}

.pointer{
    cursor: pointer;
}

.register label{
    display: none;
}

.register input{
    margin: 2vh 0;
}

.border-right{
    border-right: 1px solid skyblue;
}

@media only screen and (max-width:678px){
    .border-right, .navbar-form,.dissappear{
        display: none;
    }

    .navbar-nav{
        justify-content: flex-end;
        margin-left: 20%;
    }
    
}

.comment input[name='content']{
    width: 85%;
    border-radius: 5px;
}

.underline:hover{
    text-decoration: underline;
}